body .rosterGrid {
  box-shadow: lightgrey 0px 0px 8px 1px;
  margin-left: 25px;
  border-radius: 5px;

  @media(max-width: 35.5rem) {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
}

body .chatGrid {
  box-shadow: lightgrey 0px 0px 8px 1px;
  margin-left: 25px;
  border-radius: 5px;

  @media(max-width: 35.5rem) {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
}