/* body .meetingIcon {
    font-size: 18px !important;
    line-height: 3.5em;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}

body .meetingIcon:hover {
    width: 40px;
    height: 40px;
}

body .meetingIcon:focus::before {
    width: 38px;
    height: 38px;
}

body .meetingIcon:focus::after {
    width: 40px;
    height: 40px;
}

body .controlBarItem span button {
    display: flex;
} */

body .controlBar {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 8px 1px lightgrey;
    margin: 0px 5px;
    /* filter: drop-shadow(2px 4px 6px black); */
    /* background-color: rgb(152 151 151 / 25%); */
    /* box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%); */
    /* background: #969899; */
    /* Definitely adjustable to what shade you like */
    /* opacity: 0.6; */

}

@media(max-width: 720px) {
    body .controlBar {
        width: 100%;
    }
}

/* body .controlBarItem {
    display: flex;
    justify-content: center;
    margin: 0px 4px;
}

body .controlBarItem span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
} */

/* body .controlBarItem2 {
    display: flex;
    margin: 0px;
    flex-direction: column;
} */

/* body .iconButton2 {
    width: 16px;
    height: 16px;
    margin: 0px;
    border: none !important;

}

body .iconButton2 svg {
    width: 25px;
}

body .iconButton2:hover {
    width: 16px;
    height: 16px;
}

body .iconButton2:focus::before {
    width: 14px;
    height: 14px;
}

body .iconButton2:focus::after { 
    width: 16px;
    height: 16px;
}*/

/* color: #e95d0c; */
/* body .menuBarItem ul li button {
    padding: 0px;
    width: 35px;
    height: 35px;
   
    color: #fff;
    border: 1px solid #e95d0c;
}

body .menuBarItem ul {
    margin-bottom: 10px;
    padding: 2px 0px;
}

body .menuBarItem {
    display: flex;
    justify-content: center;
    margin: 0px 4px;
}

body .menuBarItem span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
} */

body .menupopOverItem {
    border: none !important;
    font-size: 14px;
}

body .menupopOverItem div {
    margin: 0px;
    display: flex;
}

/* body .menuBarItem ul li {
    height: 100%;
    padding: 5px;
} */
/* color: #e95d0c; */
/* body .menuIcons {
    color: #fff;
    
} */

/* body .controlDownIcon {
    padding: 0px;
    background-color: transparent !important;
}

body .iconGrid {
    display: flex;
    background-color: transparent !important;
} */