body .backgroundContainer {
    width: 100%;
    display: flex;
    background-color: rgb(152 151 151 / 25%);
}

body .totalScreenContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

}

body .totalTileContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

body .videoGrid {
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 0px 8px 1px lightgrey;
    height: 100%;
    display: flex;

}

body .featuredLocalVideo {
    /* position: unset; */
    background-color: transparent;
}

body .featuredLocalVideo video {
    width: 100%;
    /* height: 20%; */
    border-radius: 5px;
}

body .featuredRemoteVideo video {
    width: 100%;
    /* height: 20%; */
    border-radius: 5px;
}

body .featuredRemoteVideoFlex {
    /* min-width: 165px;
    min-height: 130px; */
    /* height: 130px; */
    margin-top: 10px;
    width: 100%;
    height: 20%;
    overflow: hidden;
    border-radius: 5px;
}

body .screeanShareFeaturedContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

body .FeaturedFirstRemoteContaniner {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 175px;
    min-height: 150px;
    max-height: 100vh;
}

body .featuredRemoteVideo video {
    width: 100%;
    height: 100%;
}

body .featuredLocalVideo video {
    height: 100%;
}

body .featureLocalVideoFlex {
    /* min-width: 165px;
    min-height: 130px; */
    margin-top: 10px;
    width: 100%;
    height: 20%;
    overflow: hidden;
    border-radius: 5px;
}

body .featuredRightViewContainer {
    width: 200px;
    height: 100%;
    overflow-y: auto;
    right: 0px;
    margin-right: 10px;
    position: absolute;
    background-color: transparent !important;
}

body .featuredRightViewContainer:not(:last-child) {
    margin-top: 5px;
}

body .gridViewRemote {
    /* padding: 5px; */
}

body .featuredLocalVideoFlex2,
.featuredRemoteContainer2 {
    height: 10px;
    background-color: transparent !important;
}

body .featureRemoteInsideFlex,
.featureLocaleInsideFlex {
    width: 100%;
    height: 100%;
}

@media(max-width: 768px) {
    body .videoGrid {
        height: 100%;
    }

    body .totalScreenContainer {
        flex-direction: column;
    }

    body .totalTileContainer {
        position: relative;
    }

    body .localVideoFlex {
        height: 20%;
    }

    body .featuredLocalVideo video {
        height: 100%;
    }

    body .featuredRemoteVideo video {
        height: 100%;
    }

    body .featuredRightViewContainer {
        width: 35%;
        margin-right: 10px;
        position: absolute;
        background-color: transparent !important;
    }

    body .featuredRemoteContainer2 {
        margin: 0px;
    }

    /* body .featureLocalVideoFlex {
        height: 20%;
    }

    body .featuredRemoteVideoFlex {
        height: 20%;
    } */


}

body .recordindicateBtnGrid {
    padding: 10px;
    background: transparent !important;
}

body .transcriptGrid {
    position: absolute;
    top: 50%;
    background-color: transparent !important;
    justify-content: center;
    z-index: 1;
}