body .roster {
    width: 18.5rem;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 0px;
    font-family: 'Avenir-Bold';
    height: 100%;
}

@media(max-width: 35.5rem) {
    body .roster {
        width: 100%;
    }
}

body .rosterHeader {
    height: 8%;
}

/* body .rosterHeader div span button {
    width: 35px;
    height: 35px;
    border: none;
} */

/* body .rosterHeader button:hover {
    width: 30px;
    height: 30px;
} */

/* body .rosterHeader>span {
    font-size: 12px;
    padding-top: 4px;
    border-radius: 50%;
} */

/* body .seachInput .MuiOutlinedInput-root {
    padding: 0px;
} */

/* body .rosterHeader div:first-child {
    font-size: 14px;
} */