body .chatTotalContainer {
    width: 18.5rem;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 0px;
    font-family: 'Avenir-Bold';
    height: 100%;
    flex-direction: column;
}

@media(max-width: 35.5rem) {
    body .chatTotalContainer {
        width: 100%;
    }
}

/* body .messageContainer {
    height: 80%;
} */