body .formContainer {
    font-weight: bold;
    border-radius: 28px;
    text-transform: capitalize;
    font-family: 'Avenir-Regular';
    justify-content: center;
}

body .form {
    box-shadow: 0px 0px 8px 1px lightgrey;
    border-radius: 8px;
    padding: 18px;
    margin-top: 40px;
}

body .cancelBtn {
    margin-top: 20px;
    font-family: 'Avenir-Regular';
    font-weight: bold;
    margin-right: 12px;
    padding-left: 25px;
    border-radius: 20px;
    padding-right: 25px;
    background-color: #2ca01c;
}

body .meetingProvider {
    box-shadow: 0px 0px 8px 1px lightgrey;
}