body .totalContainer {
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

body .previewItem {
    width: 65%;
    height: 65%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

body .buttonsItem {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

body .controleButtons {
    width: 35%;
    margin: 25px 0px;
    justify-content: space-evenly;
}

@media(max-width: 35.5rem) {
    .previewItem {
        width: 100% !important;
    }

    .controleButtons {
        width: 100% !important;
    }
}

.previewVideo {
    height: 100%;
}

body .popOver ul {
    margin: 0;
}

body .popOverHeader {
    font-family: 'Avenir-Bold' !important;
    margin: 0;
    line-height: 35px;
    font-size: 14px;
    padding: 4px 12px;
}

body .popOverListItem {
    padding: 8px 12px;
    font-size: 14px;
}

body .buttonItem {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* body .iconButton {
    font-size: 18px !important;
    line-height: 3.5em;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}

body .iconButton:hover {
    width: 40px;
    height: 40px;
}

body .iconButton:focus::before {
    width: 38px;
    height: 38px;
}

body .iconButton:focus::after {
    width: 40px;
    height: 40px;
} */

body .iconButton2 {
    font-size: 15px !important;
    line-height: 57px;
    width: 18px;
    height: 18px;
    margin: 0px 5px;
    border: none !important;
}

body .iconButton2 svg {
    width: 25px;
}

body .iconButton2:hover {
    width: 18px;
    height: 18px;
}

body .iconButton2:focus::before {
    width: 16px;
    height: 16px;
}

body .iconButton2:focus::after {
    width: 18px;
    height: 18px;
}

body .downIcon {
    padding: 0px;
    background-color: transparent !important;
}

/* body .downIcon:hover {
    border: none !important;
} */

body .transparentGrid {
    background-color: transparent !important;
}

body .cancelBtn {
    margin-top: 20px;
    font-family: 'Avenir-Regular';
    font-weight: bold;
    margin-right: 12px;
    padding-left: 25px;
    border-radius: 20px;
    padding-right: 25px;
    background-color: #2ca01c;
}