.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inputField>input {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #2ca01c !important;
  box-shadow: none !important;
}

.btn {
  background-color: #2ca01c !important;
  border: 0.03125rem solid #2ca01c !important;
  box-shadow: none !important;
}