html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Avenir-Regular';
  background-color: #fff;
}

code {
  font-family: 'Avenir-Regular';
}

#root {
  font-family: 'Avenir-Regular';
  height: 100%;
}

span,
h3,
h2,
h1,
ul,
li {
  font-family: 'Avenir-Regular' !important;
}



@font-face {
  font-family: 'Avenir-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
  font-family: 'Avenir-Heavy';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'Avenir-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir-Italic';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AvenirNextLTPro-It.otf');
}