body .backGroundSettingDiv {
    width: 18.5rem;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 0px;
    font-family: 'Avenir-Bold';
    height: 100%;
    background-color: #fff;
}

@media(max-width: 35.5rem) {
    body .backGroundSettingDiv {
        width: 100%;
    }
}

body .backGroundHeader {
    font-family: 'Avenir-Bold';
}

body .imageOverAllDiv {
    justify-content: space-evenly;
    overflow: auto;
    height: 90%;
}

body .backGroundHeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body .backgroundDivItem {
    margin-top: 10px;
}

body .backgroundNoneItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

body .backgroundContainerItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: lightgrey 0px 0px 8px 1px;
    cursor: pointer;
    min-height: 100px;
}

body .imageDiv {
    height: 75%;
    display: flex;
    align-items: center;
    position: relative;
}

body .textDiv {
    height: 25%;
}

body .blurDiv {
    height: 75%;
    display: flex;
    align-items: center;
    position: relative;
}

body .progressDiv {
    position: absolute;
    /* width: '100%' */
}

body .progressDivImage {
    position: absolute;
    left: 40%
}